{% extends 'front/base.html' %}
{% load static %}

{% block headblock %}
    <link rel="stylesheet" href="{% static 'front/css/home.css' %}">
    {#<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>#}
{% endblock %}

{% block titleblock %}主页{% endblock %}

{% block mainblock %}
    <main class="container">
        {% if featured_posts %}
            <div id="carouselFeaturedPosts" class="carousel carousel-light slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for post in featured_posts %}
                        <button type="button" data-bs-target="#carouselFeaturedPosts"
                                data-bs-slide-to="{{ forloop.counter0 }}"
                                class="{% if forloop.first %}active{% endif %}" aria-current="true"
                                aria-label="Slide {{ forloop.counter0 }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for post in featured_posts %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ post.get_image_url }}"
                                 style="object-fit: cover; width: inherit; height: inherit; max-height: 300px"
                                 alt="...">
                            <div class="carousel-caption d-block">
                                <h1>{{ post.title }}</h1>
                                <a class="text stretched-link no-style-link" style="font-size: 1.5rem"
                                   href="{{ post.get_absolute_url }}">{{ post.excerpt }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if latest %}
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                {% for post in latest %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{ post.get_image_url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <a class="card-text stretched-link no-style-link"
                                   href="{{ post.get_absolute_url }}">{{ post.excerpt }}</a>
                            </div>
                            <div class="card-footer">
                                <strong class="d-inline-block mb-2 text-primary">{{ post.category.get_full_name }}</strong>
                                <div class="mb-1 text-muted">{{ post.created_time|date:"Y年m月d日" }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="col">
                <div class="row text-center">
                    <h2>没有文章</h2>
                    <p>这里什么都没有，快去写一篇文章吧！</p>
                </div>
                <div class="row">
                    <img src="https://http.cat/204" alt="204" class="img-fluid text-center"
                         style="padding-inline: 25%">
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}
