{% extends 'front/base.html' %}
{% load static %}

{% block titleblock %}
    {{ post.title }}
{% endblock %}

{% block mainblock %}
    <div class="container">
        {% if post.get_image_url %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{{ post.get_image_url }}" alt="Article image" class="img-fluid">
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="fw-bold">{{ post.title }}</h1>
            </div>
            <div class="col-md-12 mt-4">
                <ul class="list-inline text-muted">
                    <li class="list-inline-item"><i class="fas fa-user me-2"></i>{{ post.author.name }}</li>
                    <li class="list-inline-item"><i class="fas fa-folder-open me-2"></i><a style="color: inherit"
                                                                                           href="{% url 'category_detail' post.category.id %}">{{ post.category.get_full_name }}</a>
                    </li>
                    <li class="list-inline-item"><i
                            class="far fa-calendar-alt me-2"></i>创建于{{ post.created_time|date:"Y年m月d日" }}</li>
                    <li class="list-inline-item"><i
                            class="far fa-calendar-check me-2"></i>最后修改于{{ post.modified_time|date:"Y年m月d日" }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-12">
            {# 防XSS #}
            {% if post.approved %}
                <p class="mt-0 mb-3">{{ post.body|safe|linebreaksbr }}</p>
            {% else %}
                <p class="mt-0 mb-3">{{ post.body|escape|linebreaksbr }}</p>
            {% endif %}
        </div>
    </div>
    <br>
    {# 评论区 #}
    {% if user.is_authenticated %}
        <div class="container">
            <form method="post" action="{% url 'comment_add' post.id %}">
                {% csrf_token %}
                <div class="col">
                    <div class="row-cols-md-1">
                        <h3 class="fw-bold">评论</h3>
                    </div>
                    <div class="row-cols-md-1">
                        <label>
                            <textarea class="form-control" name="content" rows="ma"
                                      required>请输入评论，最大255个字符</textarea>
                        </label>
                    </div>
                    <div class="row-col-md-12 mt-3">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="fw-bold">评论</h3>
                </div>
                <div class="col-md-12">
                    <p>请先<a href="/admin">登录</a>后再评论</p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if comments %}
        <div class="container-fluid" style="padding-inline: 10%">
            <p class="mt-3 mb-3">共{{ comments.paginator.count }}条评论</p>
            <div class="list-group">
                {% for comment in comments %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ comment.author.name }}</h5>
                            <small class="text-muted">{{ comment.created_time|timesince }}前</small>
                        </div>
                        <p class="mb-1">{{ comment.content|escape|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
                <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">上一页</a>
                        </li>
                    {% endif %}
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ page_num }}</a>
                            </li>
                        {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">下一页</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            </nav>
        </div>
    {% endif %}
{% endblock %}


