{% extends 'front/base.html' %}
{% load bootstrap5 %}

{% block titleblock %}
    注册
{% endblock %}

{% block mainblock %}
    <div class="container py-5">
        <h1>注册</h1>
        <form action="" method="post" href="{% url 'register' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">注册</button>
        </form>
        <p class="text-left">已有账号？<a href="/admin/login/?next=/">登录</a></p>
    </div>
{% endblock %}
